.App {
  text-align: center;
}

.lang {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.lang:hover {
  cursor: pointer;
  opacity: 70%;
}

.lang:active {
  padding: 1px;
}

.active {
  background-color: rgb(237, 248, 237);
  border: 1px solid green;
}

.inactive {
  background-color: rgb(246, 234, 234);
  border: 1px solid red;
}   