.cart-top {
  text-align: left;
  margin-left: 10%;
}

.cart-bottom {
  text-align: right;
  margin-right: 10%;
}

.product {
 display: flex;
 justify-content: space-between;
 margin: 0 10%;
 border-bottom: 1px solid black;
 padding: 10px 0;
}

.image {
  width: 60px;
}

.title {
  width: 120px;
}

.rate {
  width: 60px;
}

.price {
  width: 70px;
}

.quantity {
  display: flex;
  width: 120px;
  justify-content: space-between;
  border: 1px solid black;
  height: 39px;
  border-radius: 18px;
  padding: 4px;
  align-items: center;
}

.total {
  width: 70px;
}

.button {
  height: 30px;
  width: 30px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.button:active {
  padding: 1px;
}