.App {
  text-align: center;
}

.nupp {
  font-weight: bold;
  background-color: brown;
  color: white;
  border-radius: 3px;
}

.nupp:hover {
  text-decoration: underline;
}

.nupp:active {
  font-style: italic;
  border: 3px dotted green;
}

.pilt {
  width: 100px;
  /* height: 100px; */
}

.pilt:hover {
  opacity: 70%;
  cursor: pointer;
}

.pilt:active {
  /* width: 110px; */
  transform: scale(0.9);
}